<footer id="site-footer">
    <p>&copy; <%= new Date().getFullYear() %>, CSE 340 App</p>
    <!-- in views/partials/footer.ejs -->
    <a href="/inv/throw-error" class="error-link">Trigger 500 Error</a>
</footer>