<nav>
    <ul>
        <% if (!locals.accountData) { %>
            <li><a href="/account/login">My Account</a></li>
            <% } else { %>
                <li><a href="/account/">Welcome <%= locals.accountData.account_firstname %></a></li>
                <li><a href="/account/">Account Management</a></li>
                <li><a href="/account/logout">Logout</a></li>
                <% } %>
    </ul>
</nav>