<%# The h1 and grid will display the vehicle details %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/')} %>

            <%# Renders flash messages, if any %>
                <%- messages() %>

                    <% if (grid) { %>
                        <%- grid %>
                            <% } else { %>
                                <p class="notice">Sorry, this vehicle's details could not be found.</p>
                                <% }%>